-- -*- haskell-cabal -*-
-- This is the configuration file for the 'cabal' command line tool.

repository hackage.haskell.org
  url: https://hackage.haskell.org/
  secure: True

compiler: ghc
remote-build-reporting: anonymous
jobs: $ncpus

program-default-options
  -- NOTE: --ghc-options -j +RTS -A128m -n2m -RTS, see:
  -- https://rybczak.net/2016/03/26/how-to-reduce-compilation-times-of-haskell-projects/
  ghc-options: -O1 -optc-Os -optl=-pthread -fPIC -j +RTS -A128m -n2m -RTS
