name: Addon image

on:
  workflow_call:
    inputs:
      addon:
        type: string
        default: typst
      pandoc_version:
        type: string
        default: edge
      base_system:
        type: string
        default: alpine
    secrets:
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_TOKEN:
        required: true
  workflow_dispatch:
    inputs:
      addon:
        default: typst
        type: choice
        options:
          - typst
          - latex
          - extra
        required: true

      pandoc_version:
        type: string
        default: edge
      base_system:
        type: choice
        options:
          - alpine
          - ubuntu
        default: alpine

jobs:
  build:
    name: Addon
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: "pandoc/multiarch"

      - name: ${{ inputs.addon }}/${{ inputs.base_system }}
        uses: ./.github/actions/build
        with:
          image_type: ${{ inputs.addon }}
          base_system: ${{ inputs.base_system }}
          pandoc_version: ${{ inputs.pandoc_version }}
          dockerfile: ${{ inputs.base_system }}/${{ inputs.addon }}/Dockerfile
